
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>登入</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @*@Html.TextBoxFor(x => x.ID, new { @class = "form-control", placeholder = "ID" })*@
        <input type="text" class="form-control" id="ID" name="ID" placeholder="ID" value="@Model.ID">
    </div>
    <div class="form-group">
        @*@Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })*@
        <input type="password" class="form-control" id="Password" name="Password" placeholder="Password"  value="@Model.Password">
    </div>
    <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
    
}